
<html lang="en">

<body>
    <form method="POST" action="/new">
<input type="text" name="authorname" placeholder="Your name">
<input type="text" name="messagetext" placeholder="Your message"> 
<button>Submit</button>
    </form>
</body>
</html>