
<html lang="en">

<body>
    <a href="/new">New Message</a>
    <ul>
 <% messages.forEach((message)=>{ %>
<li>
    <%=message.message%>
     <%=message.authorname%>
   
</li>
<% }) %>
    </ul>
  
</body>
</html>