
<html lang="en">

<body>
    <a href="/new">New Message</a>
    <ul>
 <% messages.forEach((message)=>{ %>
<li>
    <%=message.text%>
     <%=message.user%>
     <%=message.added%>
</li>
<% }) %>
    </ul>
  
</body>
</html>